#languageSwitch {
	color: #fff;
	cursor: pointer;
	font-variant: small-caps;
	position: absolute;
		right: 1.5em;
		top: 1em;
	text-decoration: none;
	z-index: 1;
}

.reveal .cover h1{
	font-size: 2.5em;
}

.reveal .cover h2 {
	margin-top: -0.3em;
	font-size: 2em;
	margin-bottom: 0.5em;
}

.reveal .whoAmI {
	display: inline-block;
	vertical-align: middle;
	margin-right: 2em;
	margin-top: 1em;
}

.reveal .whoAmI h4 {
	font-size: 1em;
}

.reveal .whoAmI h5 {
	font-size: 0.8em;
	text-align: center;
}

.reveal .whoAmI a {
	display: block;
	clear: both;
	color: rgba(255, 255, 255, 0.4);
}

.reveal .whoAmI a:hover {
	color: rgba(255, 255, 255, 0.8);
}

.reveal .end.whoAmI a {
	color: #0000AA;
}
.reveal .end.whoAmI a:hover {
	color: #2222CC;
}

.reveal .positive {
	color: #22FF22;
}

.reveal .negative {
	color: #FF3333;
}

.reveal .neutral {
	color:#3498DB;
}

.reveal h3 {
	font-size: 2.5em;
}

.reveal h4 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 1em;
}

.reveal h5 {
	text-align: center;
	font-size: 1.5em;
}

.reveal .author {
	text-align: right;
}

.reveal section img {
	margin: 20px;
}
.reveal .reallyBig {
	font-size: 15em;
}
.reveal .bigger {
	font-size: 3em;
}
.reveal .author {
	text-align: right;	
}
.reveal .lightBackground {
	color: #000;
}
/* Fonts */
.reveal .cursiveFont {
	font-family: 'Dancing Script', cursive;
}
.reveal .attentionFont {
	font-family: 'Londrina Sketch', cursive;
}
.reveal .mythbusters {
	font-family: 'Special Elite', cursive;
	transform: rotate(-15deg);
	font-weight: bold;
	color: #F66;
	font-size: 5em;
}

.inline {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2em;
}
